body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.album-details {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.album-details h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.album-details p {
    font-size: 1.2em;
    margin: 5px 0;
}

.album-details img {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
}

.album-details h2 {
    font-size: 1.5em;
    margin-top: 20px;
}

.album-details ul {
    list-style-type: none;
    padding: 0;
}

.album-details ul li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.select-playlist {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}

.btn-add-to-playlist {
    display: block; 
    width: 100%; 
    padding: 10px 20px;
    background-color: #6814c7;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-add-to-playlist:hover {
    background-color: #400d7b;
}

.btn-add-music-to-playlist {
    font-size: 12px; /* Taille de la police */
    padding: 5px 10px; /* Espacement interne du bouton */
    margin-left: 10px; /* Marge à gauche pour séparer le bouton du titre de la musique */
    background-color: #45087a; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Bordure arrondie */
}

.btn-add-music-to-playlist:hover {
    background-color: #45087a;
}
