body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.artist-list-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.artist-list-container h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
    color: #800080; /* Couleur violette */
}

.sort-options {
    text-align: center;
    margin-bottom: 20px;
}

.sort-options a {
    text-decoration: none;
    color: #8c00ff;
    margin: 0 10px;
}

.sort-options a:hover {
    text-decoration: underline;
}

.artist-list {
    list-style-type: none;
    padding: 0;
}

.artist-list li {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.artist-list li:last-child {
    border-bottom: none;
}

.artist-list .artist-details {
    display: flex;
    flex-direction: column;
}

.artist-list .artist-details h2 {
    font-size: 1.2em;
    margin: 0;
}

.artist-list .artist-details p {
    font-size: 1em;
    margin: 5px 0;
    color: #666;
}

.artist-list .artist-details a {
    text-decoration: none;
    color: #8c00ff;
}

.artist-list .artist-details a:hover {
    text-decoration: underline;
}

