/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}

.artist-list-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.artist-list-container h1 {
    color: #6a0dad; 
    text-align: center;
    margin-top: 20px;
}

.sort-options {
    text-align: center;
    margin-bottom: 20px;
}

.sort-options a {
    color: #6a0dad;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s ease;
}

.sort-options a:hover {
    color: #4a0772;
}

.artist-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
}

.artist-list li {
    width: 30%;
    margin-bottom: 20px;
}

.artist-details {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 10px;
    text-align: center;
}

.artist-details:hover {
    transform: translateY(-5px);
}

.artist-details h2 {
    color: #6a0dad;
    font-size: 1.5em;
    margin: 10px 0;
}

.artist-details a {
    color: #6a0dad;
    text-decoration: none;
    transition: color 0.3s ease;
}

.artist-details a:hover {
    color: #4a0772;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .artist-list li {
        width: 45%;
    }
}

@media screen and (max-width: 576px) {
    .artist-list li {
        width: 100%;
    }
}

.artist-details p {
    margin-top: 10px;
}

.artist-details p a {
    display: inline-block;
    margin: 0 5px;
}

.artist-details p a img {
    width: 30px;
    height: auto;
}

.artist-details a.spotify,
.artist-details a.deezer,
.artist-details a.youtube {
    color: white;
    padding: 8px 12px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

.artist-details a.spotify {
    background-color: #1DB954; /* Vert Spotify */
}

.artist-details a.deezer {
    background-color: #8826df; /* Violet Deezer */
}

.artist-details a.youtube {
    background-color: #FF0000; /* Rouge YouTube */
}

.artist-details a.spotify:hover,
.artist-details a.deezer:hover,
.artist-details a.youtube:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.8); /* Fond légèrement plus clair au survol */
}
