/* Styles pour la mise en page générale */
.artist-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Styles pour le titre principal */
.artist-details h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Styles pour la liste des albums */
.albums-list {
    list-style: none;
    padding: 0;
}

.albums-list li {
    margin-bottom: 30px;
}

.album-details {
    border: 1px solid #ccc;
    padding: 20px;
}

.album-details h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.album-details p {
    margin: 5px 0;
}

.album-details img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
}

.album-details .no-cover {
    font-style: italic;
    color: #888;
}

.select-playlist {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}

.btn-add-to-playlist {
    display: block; 
    width: 100%; 
    padding: 10px 20px;
    background-color: #6814c7;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.btn-add-to-playlist:hover {
    background-color: #45087a;
}

.no-playlist {
    color: red;
}

.btn-add-music-to-playlist {
    font-size: 12px; /* Taille de la police */
    padding: 5px 10px; /* Espacement interne du bouton */
    margin-left: 10px; /* Marge à gauche pour séparer le bouton du titre de la musique */
    background-color: #45087a; /* Couleur de fond */
    color: white; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    border-radius: 5px; /* Bordure arrondie */
}

.btn-add-music-to-playlist:hover {
    background-color: #45087a;
}

