.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

canvas {
    border: 1px solid black;
    display: block;
    margin: 50px auto;
    z-index: 1;
}

.countdown {
    font-size: 36px;
    color: rgb(0, 0, 0);
}