body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #490a56;
    color: #fff;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #490a56;
}

footer {
    background-color: #490a56;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}
