/* Fichier: assets/css/style.css */

/* Réinitialisation de certains styles par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styles pour le conteneur principal */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styles pour le titre principal */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Styles pour les boutons */
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px 0;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-primary {
    background-color: #6c0980;
}

.btn-primary:hover {
    background-color: #551063;
}

.btn-info {
    background-color: #17a2b8;
}

.btn-info:hover {
    background-color: #117a8b;
}

.btn-danger {
    background-color: #dc3545;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-warning {
    background-color: #ffc107;
    color: #212529;
}

.btn-warning:hover {
    background-color: #e0a800;
}

/* Styles pour la table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.table th, .table td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    background-color: #f2f2f2;
    color: #333;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

/* Styles pour les messages d'erreur ou d'information */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.alert.success {background-color: #4CAF50;} /* Green */
.alert.info {background-color: #2196F3;} /* Blue */
.alert.warning {background-color: #ff9800;} /* Orange */

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%; /* Réduire la largeur du conteneur */
    }

    h1 {
        font-size: 24px; /* Réduire la taille du titre principal */
    }

    .btn {
        padding: 8px 16px; /* Réduire la taille des boutons */
        margin: 3px 0; /* Réduire la marge des boutons */
    }

    .table th, .table td {
        padding: 8px 10px; /* Réduire le rembourrage des cellules de tableau */
    }

    .closebtn {
        font-size: 18px; /* Réduire la taille du bouton de fermeture */
    }
}
